# Application mode (local, production, etc.)
APP_MODE="local"

# IP API URL
IP_API_URL="https://ip.vynvpn.com/?format=json"

# Weather API configuration
WEATHER_API_URL="http://api.weatherapi.com/v1/"
WEATHER_API_KEY=""

